:root {

  --fs-xl: clamp(1rem, 3vw + 0.5rem, 3rem);
  --fs-600: 2rem;
  --fs-400: 1.5rem;
  --fs-xs: 0.8rem;
}
@media (min-width: 40em) {
  :root {
    --fs-600: 2rem;
    --fs-400: 2rem;
    --fs-xs: 1rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}



/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
	font-family: "Lucida Console", "Courier New", monospace;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.introduction h1{
	font-size: var(--fs-xl);
	display: inline-block;
  line-height: 1.1;
  font-style: normal;
  font-weight: 200;
  color: rgb(21, 21, 21);
}
